<html>
  <head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="row" style="background-color: rgba(234, 204, 206, 0.454)" >
  <div class="col" style="margin-left:300px; margin-top:70px">
    <img src="me.jpeg" style="width:350px">
  </div>

  <div class="col" style="margin-right:300px; margin-top:70px; width:500px">

      <div class="entry-content " itemprop="text"  >
        <h5 style ="color:rgb(218, 162, 171)">Ready to collaborate?<br>
        Have a question?</h5>
        <h5 style="color:rgb(95, 95, 95)"><small>I can't wait to hear from you!</small></h5>
        <ul >
          <li style="list-style-type: none;">
          <ul class="list-unstyled" style="color:rgb(95, 95, 95)">
            <li class="font-weight-light"><small>Email me <a href="mailto:nanwang@brandeis.edu">nanwang@brandeis.edu</a></small></li>
            <li><small>Find me on social media </small>
              <a href="https://github.com/nnanwang" target="_blank">
                <i class="fa fa-github" aria-hidden="true" alt="" 
                style ="color:rgb(95, 95, 95); margin-left: 5px;"></i></a>
              <a href="https://www.pinterest.com/munanw/_saved/" target="_blank">
                <i class="fa fa-pinterest" aria-hidden="true" alt="" 
                style ="color:rgb(95, 95, 95); margin-left: 5px;"></i></a>
              <a href="https://www.instagram.com/munan_w/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true" alt="" 
                style ="color:rgb(95, 95, 95); margin-left: 5px;"></i></a>
          
              <li><small>I'm based in the U.S.</small></li>
          </ul>
          </li>
      </ul>
      <h5 style="color:rgb(95, 95, 95)"><small>Or, reach me through the contact form below:</small></h5>
      
      <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<!-- with the method attribute set to POST and the action attribute set to /post_contact --> 
    <form action="/post_contact" method="post" class="cf-form init" data-status="init">
      <div class="form-group" style="color:rgb(95, 95, 95)">
        <label><small>Name </small><span style="color:rgb(218, 162, 171)">*</span></label>
        <span class="cf-form-control-wrap name">
          <input type="text" id="name" name="name" value="" size="30" class="form-control">
        </span>
      </div>

      <div class="form-group" style="color:rgb(95, 95, 95)"><label><small>Email </small>
        <span style="color:rgb(218, 162, 171)">*</span></label><span class="cf-form-control-wrap email">
          <input type="email" name="email" value="" size="30" 
          class="form-control" >
        </span>
      </div>

      <div class="form-group" style="color:rgb(95, 95, 95)"><label><small>Subject</small></label>
        <span class="cf-form-control-wrap subject">
          <select class="form-select" style="color:rgb(95, 95, 95)" aria-label="Default select example"><small>
            <option selected >Select Subject</option>
            <option value="1">Web Development</option>
            <option value="2">Software Development</option>
            <option value="3">Graphic Design</option>
            <option value="4">Product Design</option>
            <option value="5">UI Design</option>
            <option value="6">Something Else</option>
          </small></select>
        </span>
      </div>

      <div class="form-group" style="color:rgb(95, 95, 95)"><label><small>Message</small></label>
        <span class="cf-form-control-wrap message">
          <textarea name="message" cols="30" rows="4" class="form-control" ></textarea>
        </span>
      </div>

      <br>
      <div class="form-group">
        <input type="submit" value="Send Message" class="cf-form-control cf-submit btn btn-sm" onclick="sendMessage()"
        style="color:rgb(255, 255, 255); background-color:rgb(218, 162, 171)">
      </div>
  
    </form></div>
      <p style="color:rgb(218, 162, 171); margin-bottom:70px"><small>I look forward to hearing from you!</small></p>


          </div><!-- .entry-content -->
      
      </div>
      
      <!-- This is the contact form box -->



    </body>



</html>