<form method="post"
    action="/contact/bySubject"
    style ="margin-left:100px; 
    margin-top:100px; 
    margin-right:100px; 
    color:rgb(218, 162, 171)" >
    <h5>Show contact forms by Subject: </h5>
    <select class="form-select" id="subject" name="subject" style="color:rgb(95, 95, 95)">
      <option value="Web Development">Web Development</option>
      <option value="Software Development">Software Development</option>
      <option value="Graphic Design">Graphic Design</option>
      <option value="Product Design">Product Design</option>
      <option value="UI Design">UI Design</option>
      <option value="Something Else">Something Else</option>
    </select><br>
    <input class="btn btn-sm"type="submit" value="Submit" style="color:rgb(255, 255, 255); background-color:rgb(218, 162, 171)">
  </form>