<div class="row" style="background-color: rgba(234, 204, 206, 0.454)" >
  <div class="col" style="margin-left:300px; margin-top:70px">
    <img src="me.jpeg" style="width:350px">
  </div>

  <div class="col" style="margin-right:300px; margin-top:70px; width:500px">

      <div class="entry-content " itemprop="text"  >
        <h5 style ="color:rgb(218, 162, 171)">Ready to collaborate?<br>
        Have a question?</h5>
        <h5 style="color:rgb(95, 95, 95)"><small>I can't wait to hear from you!</small></h5>
        <ul >
          <li style="list-style-type: none;">
          <ul class="list-unstyled" style="color:rgb(95, 95, 95)">
            <li class="font-weight-light"><small>Email me <a href="mailto:nanwang@brandeis.edu">nanwang@brandeis.edu</a></small></li>
            <li><small>Find me on social media </small>
              <a href="https://github.com/nnanwang" target="_blank">
                <i class="fa fa-github" aria-hidden="true" alt="" 
                style ="color:rgb(95, 95, 95); margin-left: 5px;"></i></a>
              <a href="https://www.pinterest.com/munanw/_saved/" target="_blank">
                <i class="fa fa-pinterest" aria-hidden="true" alt="" 
                style ="color:rgb(95, 95, 95); margin-left: 5px;"></i></a>
              <a href="https://www.instagram.com/munan_w/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true" alt="" 
                style ="color:rgb(95, 95, 95); margin-left: 5px;"></i></a>
          
              <li><small>I'm based in the U.S.</small></li>
          </ul>
          </li>
      </ul>
      <h5 style="color:rgb(95, 95, 95)"><small>Or, reach me through the contact form below:</small></h5>
      <div role="form" class="cf" id="cf-f2088-p43-o1"  dir="ltr">
      <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
      <form action="/contact/#cf-f2088-p43-o1" method="post" class="cf-form init" data-status="init">
        <div style="display: none;">
          <input type="hidden" name="cf" value="2088">
          <input type="hidden" name="cf" value="5.5.4">
          <input type="hidden" name="cf_locale" value="en_US">
          <input type="hidden" name="cf_unit_tag" value="cf-f2088-p43-o1">
          <input type="hidden" name="cf_container_post" value="43">
          <input type="hidden" name="cf_posted_data_hash" value="">
        </div>
      <div class="form-group" style="color:rgb(95, 95, 95)">
        <label><small>Name </small><span style="color:rgb(218, 162, 171)">*</span></label>
        <span class="cf-form-control-wrap your-name">
          <input type="text" name="your-name" value="" size="30" 
          class="cf-form-control wpcf7-text cf-validates-as-required form-control"></span></div>

        <p><span id="cf-6261c3bdda65f-wrapper" class="cf-form-control-wrap email-wrap" 
          style="display:none !important; visibility:hidden !important;">
          <label for="cf-6261c3bdda65f-field" class="hp-message">Please leave this field empty.</label>
          <input id="cf-6261c3bdda65f-field" class="cf-form-control cf-text" 
          type="text" name="email" value="" size="40" tabindex="-1" autocomplete="new-password"></span></p>

      <div class="form-group" style="color:rgb(95, 95, 95)"><label><small>Email </small>
        <span style="color:rgb(218, 162, 171)">*</span></label><span class="cf-form-control-wrap your-email">
          <input type="email" name="your-email" value="" size="40" 
          class="cf-form-controlwpcf7-text wpcf7-email cf-validates-as-required cf-validates-as-email form-control" 
          aria-required="true" aria-invalid="false"></span></div>

      <div class="form-group" style="color:rgb(95, 95, 95)"><label><small>Subject</small></label>
        <span class="cf-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" 
          class="cf-form-control wpcf7-text form-control" aria-invalid="false"></span></div>

      <div class="form-group" style="color:rgb(95, 95, 95)"><label><small>Message</small></label>
        <span class="cf-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="6" 
          class="cf-form-control wpcf7-textarea form-control" aria-invalid="false"></textarea></span></div>
      <br>
      <div class="form-group"><input type="submit" value="Send Message" class="cf-form-control cf-submit btn btn-sm" 
        style="color:rgb(255, 255, 255); background-color:rgb(218, 162, 171)"></div>
      <p style="display: none !important;"><label><textarea name="cf_ak_hp_textarea" cols="45" rows="8" maxlength="100"></textarea>
      </label><input type="hidden" id="ak_js_1" name="cf_ak_js" value="1650574270253">
      <script>document.getElementById( "ak_js_1" ).setAttribute( "value", ( new Date() ).getTime() );</script>
    </p><div class="cf-response-output" aria-hidden="true"></div></form></div>
      <p style="color:rgb(218, 162, 171)"><small>I look forward to hearing from you!</small></p>
          </div><!-- .entry-content -->
      
      </div><!-- .wrap -->
      </article><!-- #post-## -->
      
          </main><!-- #main -->
        </div><!-- #primary -->
      
      
      <aside id="secondary" class="widget-area" role="complementary" itemscope="" itemtype="http://schema.org/WPSideBar">
        <div class="wrap">
          <section id="text-4" class="widget widget_text">			<div class="textwidget"></div>
          </section>	</div><!-- .wrap -->
      </aside><!-- #secondary -->
          </div><!-- .wrap -->
        </div><!-- #content -->
      
      </div><!-- #page -->

  </div>


</div>




  

  

  
  </body>