
    <div class="entry-content " style="margin-left:300px; margin-top:70px" itemprop="text"  >
      <h5 style ="color:rgb(218, 162, 171)">Awards<br></h5>
      <div class="column; width= 200px" style="color:rgb(95, 95, 95)">
        <small>
          <span>2015</span> 
          <br>
          <span>2012</span>
        </small>
      </div>

      <div class="column; width=600px" style="margin-left:400px; color:rgb(95, 95, 95)">
        <small>
          <span>Successful Design Grand Award</span>
          <br>
          <span>2012</span>
        </small>
      </div>

      <h5 style="color:rgb(95, 95, 95)"><small>I can't wait to hear from you!</small></h5>
    </div>

