<div class="container" style="margin-left:300px; margin-top:70px" itemprop="text"  >

    <div class="container">
      <h5 style ="color:rgb(218, 162, 171)">AWARDS</h5><br>
      <div class="row" style ="color:rgb(95, 95, 95)">
        <div class="col-1">
          <small><mark >2015 </mark></small>
        </div>
        <div class="col-6" >
          <small>Successful Design Grand Award, China</small><br>    
          <small>Shanghai Light Industry 3rd Award, China</small><br>
          <small>APD (Asian Packaging Design) Gold Award</small>
        </div>
      </div>
        <div class="row" style ="color:rgb(95, 95, 95)">
          <div class="col-1">
            <small><mark >2012 </mark></small>
          </div>
          <div class="col-6" > 
            <small>Eastern Star “Hong Kong Wing Fat Cup” Packaging Design Gold Award</small>
          </div>
        </div>
    </div>
    <br><br><br>

    <div class="container">
      <h5 style ="color:rgb(218, 162, 171)">EXHIBITIONS</h5><br>

      <div class="row" style ="color:rgb(95, 95, 95)">
        <div class="col-1">
          <small><mark >2015 </mark></small>
        </div>
        <div class="col-6" >
          <small>The Tale of Two Cities-Vienna, </small>
          <span><p style ="color:rgb(144, 144, 144)" class="fst-italic">
            <small>AIL Innovation Laboratory, Vienna, Austria</small></p></span>
          <small>Modern Chinese Packages Design, </small> 
          <span><p style ="color:rgb(144, 144, 144)" class="fst-italic">
            <small>Klingspor Museum, Offenbach, Germany</small></p></span>
        </div>
        <div class="row" style ="color:rgb(95, 95, 95)">
        <div class="col-1">
          <small><mark >2013 </mark></small>
        </div>
        <div class="col-6" >
          <small>China (Shanghai) Bakery Exhibition, </small> 
          <span><p style ="color:rgb(144, 144, 144)" class="fst-italic">
            <small>Shanghai New International Expo Centre, Shanghai, China</small></p></span>
          <small>The Future of Sweets, </small> 
          <span><p style ="color:rgb(144, 144, 144)" class="fst-italic">
            <small>Koln, Clolgne, Germany</small></p></span>
          <small>Summer Fancy Food Show, </small> 
          <span><p style ="color:rgb(144, 144, 144)" class="fst-italic">
            <small>Walter E. Washington Convention Center, Washington, D.C., American</small></p></span>
        </div>
        </div>
        <div class="row" style ="color:rgb(95, 95, 95)">
        <div class="col-1">
          <small><mark >2012 </mark></small>
        </div>
        <div class="col-6" >
          <small>LUXE PACK, </small> 
          <span><p style ="color:rgb(144, 144, 144)" class="fst-italic">
            <small>Shanghai Exhibition Center, Shanghai, China</small></p></span>
        </div>
      </div>
      <br>
    </div>

  </div>
