<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Hello World Simple App</title>
    </head>
    <body>     
                </div>
                <div class="column" > 
                    <div class="row ">
                    <img src="por-01.png"                    
                    style="
                    display: block;
                    margin-top: 30px;
                    margin-left: 5px;
                    width:30%" ></div>
                </div>
                    <div class="row" style="margin-left: 80px;">
                        <span class="text-lg-left" style ="color:rgb(24, 13, 13)" ><h4> Nan Wang </h4></span> 
                        <p><a href="https://www.brandeis.edu/" style ="color:rgb(95, 95, 95)">Brandeis University</a></p>
                        <span class="font-weight-light" style ="color:rgb(95, 95, 95)"><small>MS Student in Computer Science</small></span>

                        <p class="font-weight-light" style ="color:rgb(95, 95, 95)"><small>Product Design and Innovation Manager</small></p>
                        <p class="font-weight-light" style ="color:rgb(218, 162, 171)"><small>Boston, U.S </small></p>
                        <span><i class="bi bi-envelope"></i>
                            <i class="fa fa-envelope-open" aria-hidden="true"></i>
                        </span>
                    </div> 

                <tr>
                    <td><a href="port.png">dog</a></td><td><a href="/images/cat.jpg">cat</a></td>
                </tr>

        <hr>

    </body>



    
</html>