<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <title>Hello World Simple App</title>
    </head>
    <body>     
        </div>
        <div class="row" >
            <div class="column" style="width: 30%;" > 
                <div class="row ">
                    <img src="por-01.png"                    
                    style="
                    display: block;
                    margin-top: 30px;
                    margin-left: 5px;
                    width:100%" ></div>
                
        <div class="row" style=" margin-left: 80px;">
            <span class="text-lg-left" style ="color:rgb(24, 13, 13)" ><h4> Nan Wang </h4></span> 
            <p><strong><a href="https://www.brandeis.edu/" class="font-weight-light"style="color:rgb(218, 162, 171)" >BRANDEIS UNIVERSITY</a></strong></p>
            <span class="font-weight-light" style ="color:rgb(95, 95, 95)"><small>MS Student in Computer Science</small></span>

            <span class="font-weight-light" style ="color:rgb(95, 95, 95)"><small>Product Design & Innovation Manager</small></span>
            <span class="font-weight-light" style ="color:rgb(218, 162, 171)"><small>Boston, U.S </small></span>
            <figure class="links">
                <a href="https://www.linkedin.com/in/nnanwang/" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true" alt="" 
                    style ="color:rgb(95, 95, 95); "></i></a>
                <a href="https://github.com/nnanwang" target="_blank">
                    <i class="fa fa-github" aria-hidden="true" alt="" 
                    style ="color:rgb(95, 95, 95); margin-left: 5px;"></i></a>
                <a href="mailto:nanwang@brandeis.edu" target="_blank">
                    <i class="fa fa-envelope" aria-hidden="true" alt="" 
                    style ="color:rgb(95, 95, 95); margin-left: 5px;"></i></a>      
            </figure>
           



            
        </div> 
    </div>
        <div class="column" style="width: 70%; margin-top: 60px;" >
        
            <div class="row cmn_hdngg" style="margin: 20px; width: auto;">
                
                    <div class="cmn_hdngg_headd">
                        <h1 style="color: rgb(71, 71, 71)"><strong>Welcome 
                            
                            <span class="cmn_hdngg_headd" style="color: rgb(234, 204, 206)">!</span></strong></h1>
                    </div>

                    <div class="paragraph">
                        <br>
                    <p>I am an first-year master's student in Computer Science, Brandeis University. </p>
                    
                        <p>I received a BA in Product Design from Fudan University. 
                            I have been a Design & Innovation Manager at Yum China Holdings, Inc.
                            <a href="https://ir.yumchina.com/about-yum-china/" target="_blank" rel="noopener" style="color:rgb(218, 162, 171)" >(YumC)</a> 
                             from April 2018 to July 2021. I worked as a Senior Product Designer at Shanghai Jahwa United Co., Ltd 
                            <a href="https://www.jahwa.com.cn/en" target="_blank" rel="noopener" style="color:rgb(218, 162, 171)" >(Jahwa)</a> 
                             from December 2015 to April 2018.
                        </p>               
                    </div>  
            </div>

            <div class="column" style="margin: 20px; margin-left: 30px">
                <div class="project; rounded float-left" alt="...">
                    <img src="PO-01.png"                    
                    style=" 
                    display: block;
                    margin-top: 30px;
                    width:30%" 
                    class="rounded">  
                    <span class="title" style="color: rgb(71, 71, 71)">Projects </span>
                </div>

                <div class="project; rounded float-right" alt="...">
                    <img src="PO-01.png"                    
                    style=" 
                    display: block;
                    margin-top: 30px;
                    width:30%" 
                    class="rounded">  
                    <span class="title" style="color: rgb(71, 71, 71)">Life </span>
                    
                </div>

                

            </div>
                
            </div>
        </div>
    </div>        


        <hr>

    </body>   
</html>