<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Nan Wang's Personal Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- custom CSS -->
    <link rel="shortcut icon" type="image/x-icon" href="default-favicon.ico">
      
  </head>

  <body>

      <div class="Header-inner Header-inner--top" data-nc-group="'top" >
        <div data-nc-container="top-left"></div>
        <div data-nc-container="top-center">
          <a href="/" class="Header-branding" data-nc-element="branding" data-content-field="site-title">
            <img src="nanwlogo-04.png" width="500" height="500" class="rounded mx-auto d-block img-fluid">
          </a>
        </div>

  <div class="container nav justify-content-center " >
  <nav class="navbar navbar-expand-lg navbar-light" >
    <a class="navbar-brand" style="color:rgb(234, 204, 206);" href="/">Nan's HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse  " id="navbarText">
        <ul class="navbar-nav">
          <li class="nav-item active ">
            <a class="nav-link " href="/honor">HONOR <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://nnanwang.github.io/">PROJECT</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="NanWang_CV_WEB.pdf">CV</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/contact">CONTACT</a>
          </li>
        </ul>

      </div>
    </nav>
  </div>
<hr style="color: rgb(234, 204, 206)">
	<%- body %>


    </div>
    <!--  Javascript for Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>


  <!--  Foot -->

  
  <footer class=" text-center text-white">
    <!-- Grid container -->
    <div class="container p-3 pb-0" style="margin-top: 40px;">
      <!-- Section: Social media -->
      <section class="mb-4">

        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating m-1"
          style="color:rgba(218, 162, 171, 0.796);"
          href="https://www.instagram.com/munan_w/"
          role="button"
          ><i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating m-1"
          style="color:rgba(218, 162, 171, 0.796);"
          href="https://www.linkedin.com/in/nnanwang/"
          target="_blank"
          role="button">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating m-1"
          style="color:rgba(218, 162, 171, 0.796);"
          href="https://github.com/nnanwang"
          role="button"
          target="_blank"
        ><i class="fa fa-github-square" aria-hidden="true"></i>
        </a>

        <a
        class="btn btn-link btn-floating m-1"
        style="color:rgba(218, 162, 171, 0.796)"
        href="https://www.pinterest.com/munanw/_saved/"
        role="button"
        target="_blank"
      ><i class="fa fa-pinterest" aria-hidden="true"></i>
      </a>

        <a
        class="btn btn-link btn-floating "
        style="color:rgba(218, 162, 171, 0.796)"
        href="mailto:nanwang@brandeis.edu"
        target="_blank"
        role="button"
        ><i class="fa fa-envelope" aria-hidden="true"></i>
      </a>


      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  

  
    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgb(234, 204, 206);">
      © 2022 Copyright:
      <a class="text-white" href="/">Nan Wang</a>
    </div>
    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=uWhAoqucxyJ3J3N7HkJbyJ5wvfUfLMtH4LDLyhhmLqk"></script>
    <!-- Copyright -->
  </footer>
</html>