

    <div class="row" style="margin-top:100px; margin-left:100px">
      
        <div class="col-sm-5">
            <h2 style="color:rgb(218, 162, 171)">Login</h2>
            <form method="post" action="/login">
                Passphrase: <input  type="password"
                                    autocomplete="passphrase"
                                    name="passphrase"
                                    style="color:rgb(95, 95, 95)"><br>
            <input type="submit" value="submit" class="btn btn-sm"
                style="margin-left:210px; color:rgb(255, 255, 255); background-color:rgb(218, 162, 171)">
            </form>
        </div>
    </div>