<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Nan Wang' personal page</title>
            <style>
            .card {
              box-shadow: 0 4px 8px 0 rgba(79, 79, 79, 0.2);
              transition: 0.3s;
              width: 40%;
            }
            
            .card:hover {
              box-shadow: 0 8px 16px 0 rgba(71, 71, 71, 0.2);
            }
            
            .container {
              padding: 2px 16px;
            }
            </style>
           
    </head>
    <body>
      <div class="card-group " style="margin: 20px; margin-top: 100px; margin-left: 100px; margin-right: 100px " >
        <div class="card border-white" style>
          <img class="card-img-top" src="1-01.png">
            <div class="card-body" >
              <h5 class="card-title" style ="color:rgb(218, 162, 171)">MyMentor</h5>
                <p class="card-text lh-sm" style="color: rgb(71, 71, 71)">
                  <small>
                    MyMentor is a social network for current students in university to connect, 
                    share their academic, career, social experiences; and learn.
                  </small></p>
            </div>
        </div>
        <div class="card border-white" style="margin-left: 30px">
          <img class="card-img-top" src="3-01.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style ="color:rgb(218, 162, 171)">LOVE IMPRESSION - Chocolate</h5>
                <p class="card-text lh-sm" style="color: rgb(71, 71, 71)">
                  <small>Exhibition: The Future of Sweets, <span class="fst-italic">Germany</span> <br>
                    Summer Fancy Food Show, <span class="fst-italic">U.S.</span>
                  </small></p>
            </div>
        </div>
        <div class="card border-white" style="margin-left: 30px">
          <img class="card-img-top" src="fresh-01.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style ="color:rgb(218, 162, 171)">FRESH HERB</h5>
                <p class="card-text lh-sm" style="color: rgb(71, 71, 71)">
                  <small>FRESH HERB is a skincare brand for young people. 
                    Each series has a Chinese traditional formula, which mainly include a pair of flower and herb.<br>
                    Award: Successful Design Grand Award, <span class="fst-italic" style="color:rgb(144, 144, 144)">China</span> 
                  </small></p>
            </div>
        </div>
      </div>
      <div class="card-group " style="margin-top: 40px;  margin-left: 100px; margin-right: 100px " >
        <div class="card border-white" style>
          <img class="card-img-top" src="P-01.png">
            <div class="card-body" >
              <h5 class="card-title" style ="color:rgb(218, 162, 171)">gf - Glorious Anti-age series
                </h5>
                <p class="card-text lh-sm" style="color: rgb(71, 71, 71)">
                  <small>
                    This is the high-end series for gf, which is a brand for men skincare. <br>
                    Award: Shanghai Light Industry 3rd Award
                  </small></p>
            </div>
        </div>
        <div class="card border-white" style="margin-left: 30px">
          <img class="card-img-top" src="P-02.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style ="color:rgb(218, 162, 171)">epai Cafe</h5>
                <p class="card-text lh-sm" style="color: rgb(71, 71, 71)">
                  <small>The packages are designed for the french style cafe brand, epai Cafe. <br>
                    Exhibition: China (Shanghai) Bakery Exhibition, <span class="fst-italic" style="color:rgb(144, 144, 144)">China</span> <br>
                  </small></p>
            </div>
        </div>
        <div class="card border-white" style="margin-left: 30px">
          <img class="card-img-top" src="champagn-03.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style ="color:rgb(218, 162, 171)">FLORA.W Champane </h5>
                <p class="card-text lh-sm" style="color: rgb(71, 71, 71)">
                  <small>
                    Published by magazine Frankfurter Zeitung & Offenbach-Post, Germany<br>
                    Exhibition: Modern Chinese Packages Design, <span class="fst-italic" style="color:rgb(144, 144, 144)">Germany</span><br>
                    LUXE PACK, <span class="fst-italic" style="color:rgb(144, 144, 144)">China</span><br>
                    The Tale of Two Cities-Vienna, <span class="fst-italic" style="color:rgb(144, 144, 144)">Austria</span>
                  </small></p>
            </div>
        </div>
      </div>
    </body>   
</html>
